@font-face{
	font-family: Jfont;
	src: url("../Fonts/Muller-Thin.ttf");
}

@font-face{
	font-family: tableFont;
	src: url("../Fonts/Roboto-Light.ttf");
}

table{
	width: 60%;
	border-collapse: collapse;
	color: #2d3436;
}

td, th{
	border: 3px solid #ffeaa7;
	padding: 0.6%;
}

tr:nth-child(even){
	background-color: #ffeaa7;
}

.scoreHeader{
	margin-top: -7%;
}

.Certificate, .Score{
	position: relative;
	z-index: 9;
	padding: 4%;
	background-color: #fdcb6e;
}

.Certificate:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 60%;
	left: 0;
	background: #2d3436;
}

.Score:before{
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 83%;
	left: 0;
	background: #2d3436;
}

.content-container{
	border: 10px solid;
	border-color: #ffeaa7;
	padding: 3%;
}

.score-content-container{
	padding: 3%;
}

.brand{
	position: relative;
	color: #dfe6e9;

}

.logoImage{
	width: 8%;
}

.certificate-brand{
	font-family: Jfont;
}

.Jfont{
	font-family: Jfont;
}

.italic{
	font-style: oblique;
}

.stretch{
	width: 100%;
}

.body, .footer{
	color: #2d3436;
}